@{
    ViewData["Title"] = "Welcome to Simple Quiz App";
}

<div class="text-center mt-5">
    <h1 class="display-4 mb-4">Welcome to Simple Quiz App</h1>
    <h3 class="mb-4">Test your general knowledge with the following fun quizes</h3>
    <p class="lead mb-4 fw-bold">Select your quiz difficulty to get started</p>

    <div class="d-flex justify-content-center gap-5 pt-4">
        <a asp-controller="Quiz" asp-action="Start" asp-route-difficulty="Easy" class="shadow rounded-pill btn btn-success btn-lg fw-bold w-25">
            Easy
        </a>
        <a asp-controller="Quiz" asp-action="Start" asp-route-difficulty="Medium" class="text-white shadow rounded-pill btn btn-warning btn-lg fw-bold w-25">
            Medium
        </a>
        <a asp-controller="Quiz" asp-action="Start" asp-route-difficulty="Hard" class="shadow rounded-pill btn btn-danger btn-lg fw-bold w-25">
            Hard
        </a>
    </div>
</div>
